/* Button styles
================================================ */
.btn,
button,
.button {
    border: 2px solid #000000;
    outline: none !important;
    background: #fff;
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
    padding: 17px 32px;
    display: inline-block;
    border-radius: 5px;
    font-weight: 600;
    &:hover {
        color:#000;
        i {
            right: -3px;
        }
    }
    &.white {
        &:hover {
            background: none !important;
            color: #fff !important;
        }
        i {
            background: url("../assets/icon--arrow-right-white.svg");
            width: 21px;
            top: 3px;
        }
    }
    &.border-button {
        background: none;
        color: #fff;
        border-color: #fff;
    }
    i {
        width: 27px;
        height: 18px;
        display: inline-block;
        background: url("../assets/icon--arrow-right.svg");
        background-size: contain !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        margin-left: 16px;
        right: 0;
        top: 2px;
        position: relative;
        transition: $transition;
    }
    &.minimal {
        padding: 0;
        border: none;
        background: none;
        cursor: pointer;
        i {
            width: 17px;
            height: 11px;
        }
    }
}
