/* ======================================
Fonts sizes etc
========================================= */
// Font sizes
$title: 48px;
$bodyl: 20px;
$body: 16px;
$bodysmall: 14px;
$subtitle: 28px;
$subheader: 24px;

// fonts
$secondary: "AktivGrotesk", sans-serif;
$primary: "AktivGrotesk", sans-serif;
body {
  color: #000;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "AktivGrotesk", sans-serif;
  font-weight: 600;
}
h1,
h2 {
  font-size: $title;
  line-height: 56px;
  font-weight: 600;
  @media (max-width: $tablet) {
    font-size: 32px;
    line-height: 40px;
  }
}
h3 {
  font-size: $subtitle;
  line-height: 32px;
  @media(max-width:$tablet) {
    font-size:22px;
    line-height:28px;
  }
}
h4 {
  font-size: $subheader;
  line-height: 30px;
  @media(max-width:$tablet) {
    font-size:22px;
  }
}
h5 {
  font-size: $bodysmall;
  text-decoration: uppercase;
  line-height: 16px;
}
p {
  a {
    color: #000;
    transition: $transition;
    &:not(.btn):hover {
      color: $hover;
    }
  }
}
/* Font
================================================ */
@font-face {
  font-family: "AktivGrotesk";
  font-weight: 400;
  font-style: normal;
  src: url("/wp-content/themes/efeco/assets/fonts/AktivGrotesk-Light.otf");
  src: url("/wp-content/themes/efeco/assets/fonts/AktivGrotesk-Light.eot?#iefix") format("embedded-opentype"),
    url("/wp-content/themes/efeco/assets/fonts/AktivGrotesk-Light.woff2") format("woff2"),
    url("/wp-content/themes/efeco/assets/fonts/AktivGrotesk-Light.woff") format("woff"),
    url("/wp-content/themes/efeco/assets/fonts/AktivGrotesk-Light.ttf") format("truetype");
}
@font-face {
  font-family: "AktivGrotesk";
  font-weight: normal;
  font-style: normal;
  src: url("/wp-content/themes/efeco/assets/fonts/AktivGrotesk-Regular.otf");
  src: url("/wp-content/themes/efeco/assets/fonts/AktivGrotesk-Regular.eot?#iefix") format("embedded-opentype"),
    url("/wp-content/themes/efeco/assets/fonts/AktivGrotesk-Regular.woff2") format("woff2"),
    url("/wp-content/themes/efeco/assets/fonts/AktivGrotesk-Regular.woff") format("woff"),
    url("/wp-content/themes/efeco/assets/fonts/AktivGrotesk-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "AktivGrotesk";
  font-weight: 600;
  font-style: normal;
  src: url("/wp-content/themes/efeco/assets/fonts/AktivGrotesk-Medium.otf");
  src: url("/wp-content/themes/efeco/assets/fonts/AktivGrotesk-Medium.eot?#iefix") format("embedded-opentype"),
    url("/wp-content/themes/efeco/assets/fonts/AktivGrotesk-Medium.woff2") format("woff2"),
    url("/wp-content/themes/efeco/assets/fonts/AktivGrotesk-Medium.woff") format("woff"),
    url("/wp-content/themes/efeco/assets/fonts/AktivGrotesk-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "AktivGrotesk";
  font-weight: 700;
  font-style: normal;
  src: url("/wp-content/themes/efeco/assets/fonts/AktivGrotesk-Bold.otf");
  src: url("/wp-content/themes/efeco/assets/fonts/AktivGrotesk-Bold.eot?#iefix") format("embedded-opentype"),
    url("/wp-content/themes/efeco/assets/fonts/AktivGrotesk-Bold.woff2") format("woff2"),
    url("/wp-content/themes/efeco/assets/fonts/AktivGrotesk-Bold.woff") format("woff"),
    url("/wp-content/themes/efeco/assets/fonts/AktivGrotesk-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "AktivGrotesk";
  font-weight: 800;
  font-style: normal;
  src: url("/wp-content/themes/efeco/assets/fonts/AktivGrotesk-Black.otf");
  src: url("/wp-content/themes/efeco/assets/fonts/AktivGrotesk-Black.eot?#iefix") format("embedded-opentype"),
    url("/wp-content/themes/efeco/assets/fonts/AktivGrotesk-Black.woff2") format("woff2"),
    url("/wp-content/themes/efeco/assets/fonts/AktivGrotesk-Black.woff") format("woff"),
    url("/wp-content/themes/efeco/assets/fonts/AktivGrotesk-Black.ttf") format("truetype");
}
