/* ======================================
Variables of theme
========================================= */
$tabletLarge: 1080px;
$mobile: 560px;

$transition: all .15s linear;

$red: #D00B10;
$hover: #555555;

// from top
$paddingTop: 200px;
$paddingTopMobile: 120px;

// bg cut
$polygon: polygon(0 0, 0 100%, 100% 100%, 100% 640px, 25% 0);
$polygonTablet: polygon(0 0, 0 100%, 100% 100%, 100% 246px, 25% 0);
$polygonMobile: polygon(0 0, 0 100%, 100% 100%, 100% 192px, 35% 0);

$polygonAlt: polygon(0 0, 0 100%, 100% 100%, 100% 90%, 0% 0);
$polygonAltTablet: polygon(0 0, 0 100%, 100% 100%, 100% 42px, 0 0);

$polygonFooter: polygon(0 0, 0 100%, 100% 100%, 100% 45%, 0% 0);
$polygonFooterTablet: polygon(0 0, 0 100%, 100% 100%, 100% 42px, 0 0);
