/* ======================================
VENDORS & CORE
========================================= */
@import "./vendors/bulma-custom";
@import "./core/variables";
@import "./core/fonts";
@import "./core/buttons";
@import "./core/mixins";

/* ======================================
COMPONENTS 
========================================= */
@import "./components/header";
@import "./components/header-mobile";
@import "./components/footer";
@import "./components/hero-slider";
@import "./components/hero";
@import "./components/banner";
@import "./components/single-post";
@import "./components/posts-recent";
@import "./components/single-news";
@import "./components/cookiebar";
@import "./components/videoplayer";
@import "./components/modal-video";
@import "./components/regular-content";
@import "./components/article";
@import "./components/three-columns";
@import "./components/resellers";
@import "./components/contact-form";
@import "./components/team";
@import "./components/numblocks";
@import "./components/contact-details";
@import "./components/resellersblock";
@import "./components/faq";
@import "./components/search";
@import "./components/recent-products";
@import "./components/social-icons";

/* ======================================
LAYOUTS
========================================= */
@import "./layout/default";
@import "./layout/news";
@import "./layout/posts";
@import "./layout/home";
@import "./layout/woocommerce-archive";
@import "./layout/woocommerce-single";
@import "./layout/single";

/* ======================================
    MAIN STYLES
========================================= */
body {
    font-size: 16px;
    line-height: 20px;
}
div#content {
    @media (max-width: $tablet) {
        overflow: hidden;
    }
}
.fouc-fix {
    visibility: visible !important;
}
[data-aos="fade-up"] {
    transform: translate3d(0, 30px, 0) !important;
}
[data-aos^="fade"][data-aos^="fade"].aos-animate {
    transform: translateZ(0) !important;
}
.swiper-slide {
    transition:$transition;
    &:not(.swiper-slide-active){
        z-index:-1;
    }
}