/* ======================================
Styles for article and content area formattings
========================================= */

article {
    button.fancybox-button.fancybox-button--close {
    display: none;
}
.fancybox-iframe {
    border-radius: 8px;
    overflow: hidden;
}
    .wp-block-getwid-video-popup.has-image.getwid-init {
        width: 200%;
        position: relative;
        left: -50%;
        max-width: 200%;
        margin: 48px 0;
        
        .wp-block-getwid-video-popup__wrapper {
            min-height: 640px !important;
            @media (max-width: $tablet) {
                min-height: 480px !important;
            }
            @media (max-width: $mobile) {
                min-height:320px!important;
            }
            .wp-block-getwid-video-popup__icon {
                background: url("../assets/icon--play.svg") no-repeat center;
                width: 111px;
                height: 122px;
                background-size: contain !important;
                border-radius: 0;
                opacity: 0.83;
                transition: $transition;
                &:hover {
                    transform: scale(0.95);
                }

                i {
                    display: none;
                }
            }
        }
    }

    blockquote {
        position: relative;
        max-width: 678px;
        padding: 1em 0;
        width: 90%;
        margin: 48px auto;
        display: flex;
        flex-flow: wrap;
        @media (max-width: $tablet) {
            margin: 32px auto;
        }
        &:before {
            content: "";
            width: 38px;
            height: 28px;
            display: inline-block;
            background: url("../assets/icon--quotemark.svg") no-repeat center;
            background-size: contain !important;
            flex: none;
            margin-right: 21px;
            @media (max-width: $tablet) {
                width: 30px;
                height: 20px;
            }
        }
        cite {
            flex: 0 0 100%;
            padding-left: 50px;
            margin-top: 24px;
        }
        p {
            font-size: $subtitle;
            line-height: 32px;
            font-weight: 600;
            color: #000;
            margin-bottom: 0;
            flex: 1;
            @media (max-width: $tablet) {
                font-size: 20px;
                line-height: 28px;
            }
            strong {
                font-weight: inherit;
            }
            a {
                font-weight: inherit;
            }
            em {
                font-style: italic;
                font-weight: 500;
                font-size: $subtitle;
                line-height: 32px;
                @media (max-width: $tablet) {
                    font-size: 18px;
                    line-height: 25px;
                }
                strong {
                    color: #000;
                }
            }
        }
    } // blockquote
    ul {
        margin: 24px 0;
        margin-left: 32px;
        @media (max-width: $tablet) {
            margin-left: 16px;
        }
        ul {
            margin-top: 10px;
            li {
                font-size: 18px;
            }
        }
        li {
            margin: 0 0 1.25em 30px;
            position: relative;
            @media (max-width: $tablet) {
                margin: 0 0 0.75em 30px;
                font-size: 18px;
                line-height: 28px;
            }
            strong {
                color: #000;
            }
            &:before {
                content: "";
                width: 7px;
                height: 7px;
                border-radius: 50%;
                position: absolute;
                top: 6px;
                background: #000;
                margin-left: -30px;
                left: 0;
            }
            a {
                color: inherit;
                font-weight: 600;
                &:hover {
                    color: $hover;
                }
            }
        }
    }
    .wp-block-image {
        margin-bottom: 24px;
        &.xl {
            width: 200%;
            position: relative;
            left: -50%;
            max-width: 200%;
            img {
                width: 100%;
            }
        }
    }
    .videoplayer {
        margin-bottom: 24px;
        &.xl {
            width: 200%;
            position: relative;
            left: -50%;
            max-width: 200%;
        }
    }
    .wp-caption {
        max-width: 100%;
        margin: 48px 0;
        @media (max-width: $tablet) {
            margin: 24px 0;
        }
        &-text {
            font-size: 12px;
            line-height: 22px;
            color: #646567;
            font-style: italic;
        }
    }
    h1,
    h2 {
        margin: 48px 0;
        @media (max-width: $tablet) {
            margin: 12px 0 24px 0;
        }
    }

    h3,
    h4,
    h5 {
        margin-bottom: 24px;
        @media (max-width: $tablet) {
            margin-bottom: 16px;
        }
    }
    p {
        font-size: 18px;
        line-height: 30px;
        font-weight: 400;
        margin-bottom: 24px;
        @media (max-width: $tablet) {
            font-size: 18px;
            line-height: 30px;
            margin-bottom: 16px;
        }
        a {
            color: #000;
            transition: $transition;
            &:hover {
                color: $hover;
            }
        }
    }
}
