/* ======================================
Banner component
========================================= */
.banner {
    &--inner {
        padding-top:45px;
        padding-bottom:45px;
        @media(max-width:$tablet) {
            padding-top:18px;
            padding-bottom:18px;
        }
        img {
            display:block;
            width:100%;
        }
    }
}