/* ======================================
Contact details section with 2 columns and title
========================================= */
.contact-details {
    padding: 72px 0 24px 0;
    @media (max-width: $tablet) {
        overflow: hidden;
        padding: 48px 0 24px 0;
    }
    &--title {
        h2 {
            margin-bottom: 36px;
            @media (max-width: $tablet) {
                margin-bottom: 0;
            }
        }
    }
    &--content {
        p {
            font-size: 18px;
            line-height: 30px;
            @media (max-width: $tablet) {
                font-size: 16px;
                line-height: 28px;
            }
            a {
                color: inherit;
            }
        }
    }
}
