/* ======================================
CONTACT FORM
========================================= */
.contact-form {
    background: #e5e5e5;
    padding: 72px 0;
    margin-top: 24px;
     @media (max-width: $tablet) {
         padding:48px 0;
     }
    h2.gform_title {
        text-align: center;
        margin-bottom: 50px;
        font-size: 54px;
        line-height: 60px;
         @media (max-width: $tablet) {
             font-size:32px;
             line-height:37px;
             margin-bottom: 32px;
         }
    }
    input,
    textarea {
        background: none;
    }
    // GRAVITY FORMS
    label.gfield_label {
        line-height: 28px;
        margin-bottom: 16px;
    }
    .gform_wrapper.gravity-theme .gform_fields {
        @media(max-width:$tablet) {
            display:block;
            > div { 
                margin-bottom:32px;
            }
        }
    }   
    .gform_wrapper.gravity-theme .gfield textarea.large {
        border-radius: 5px;
        height: 190px;
        outline: none !important;
        -webkit-box-shadow: none !important;
        border: 1px solid #000;
        resize:none;
    }
    .gform_wrapper.gravity-theme .gfield input.large {
        border-radius: 5px;
        height: 60px;
        border: 1px solid #000;
        outline: none !important;
        -webkit-box-shadow: none !important;
    }
    .gform_wrapper .gfield_validation_message,
    .gform_wrapper .validation_message {
        background: none;
        border: none;
        padding: 0;
        margin: 0;
    }
    .gform_wrapper .gform_validation_errors {
        margin: 0;
        background: none;
        border: none;
        box-shadow: none;
    }
    .validation_message {
        display: none;
    }
    h2.gform_submission_error.hide_summary {
        display: none;
    }
    .gform_footer.top_label {
        display: flex;
        justify-content: flex-end;
        .button.gform_button {
            width: 170px;
            height: 60px;
            /* UI Properties */
            border: 2px solid #000000;
            border-radius: 5px;
            opacity: 1;
            background: none;
        }
    }
}
