/* COOKIE BAR */
.cookie-message {
    position: fixed;
    bottom: 30px;
    z-index: 999;
    display: none;
    max-width: 462px;
    width: auto;
    height: auto;
    right: 30px;
    background: #000000;
    @media (max-width: $mobile) {
        max-width: 100%;
            left: 0;
    right: 0;
    margin: 0 auto;
    width: 90%;
    }
    &--inner {
        padding: 24px;
        @media(max-width:$tablet) {
                flex-direction: column;
        }
        a {
            color: inherit;
        }
        p {
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            display: inline-block;
            align-items: center;
            color: #ffffff;
            font-weight:400;
            padding-right:24px;
            .location-link {
                display: inline-block;
                text-decoration: underline;
                color: #fff;
            }
        }
    }
    .cookie-content {
        flex:1;
    }
    .cookie-btn {
        display: flex;
        align-items: center;
        flex:none;
    }
    .cookie-close {
        width:102px;
        height:39px;
        padding:0;
            text-align: center;
        line-height:39px;
        @media (max-width:$tablet) {
            margin-top:16px;
        }
    }
}
/* END COOKIE BAR */
