// FAQ
#faq {
    margin-top:-100px;
    position:relative;
    z-index:1;
    @media(max-width:$tablet) {
        margin-top:24px;
    }
    @media(max-width:$mobile) {
        margin-top:0;
    }
}   
.b-faq {
    margin: 0 0 112px 0;
    @media (max-width: $tablet) {
        margin: 0 0 4em 0;
    }
    .column.is-7 {
        width: 60%;
        margin: 0 auto !important;
        @media (max-width: $tablet) {
            width: 80% !important;
        }
        @media (max-width: $mobile) {
            width: 90% !important;
        }
    }

    .b-faq-question {
        cursor: pointer;
        display: block;
            padding: 20px 0;
        font-size: 18px;
        line-height: 21px;
        font-weight: 600;
        padding-right: 24px;
        transition: margin-bottom 0.4s;
        &:hover {
        }
        @media (max-width: $tablet) {
            font-size: 16px;
            padding-right: 10%;
        }
    }
}
.b-faq-item {
    position: relative;
    overflow: hidden;
    border-top: 1px solid #707070;
    transition: all 0.35s;
    &.active {
        .b-faq-answer {
            margin-bottom:24px;
        }
    }
    &:last-of-type {
        border-bottom: 1px solid #707070;
    }
    @media (max-width: $tablet) {
        padding: 2px 0;
    }
}

/* :checked */
.b-faq-item input {
    position: absolute;
    opacity: 0;
    z-index: -1;
    &:checked ~ .b-faq-answer {
        max-height: 100vh;
    }
}

.b-faq-answer {
    max-height: 0vh;
    overflow: hidden;
    transition: max-height 0.35s ease;
    overflow: hidden;
    p {
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 16px;
        @media(max-width:$tablet) {
                font-size: 16px;
    line-height: 28px;
        }
    }
}
/* Icon */
.b-faq-item {
    label::after {
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        width: 2em;
        height: 2em;
        line-height: 2em;
        text-align: center;
        transition: all 0.35s;
    }

    input[type="radio"] {
        + label::after {
            content: "+";
            width: 15px;
            height: 15px;

            background-size: contain !important;
            background-position: center !important;
            top: 15px;
            @media(max-width:$tablet) {
                top:21px;
            }
        }
        &:checked + label::after {
            content: "-";
        }

        &:checked + label {
           // margin-bottom: 1em;
        }
    }
}
