/* Footer styles
================================================ */
footer {
    background: #000;
    padding-top: 140px;
    clip-path: $polygonFooter;
    @media (max-width: $tablet) {
        clip-path: $polygonFooterTablet;
        overflow: hidden;
        padding-top:96px;
    }
    .footer-newsletter {
        form#smly {
            display: flex;
        }
        .button {
            height: 40px;
            background: none;
            border: 1px solid #fff;
            color: #fff;
            padding: 0 30px;
        }
        #mc_embed_signup div.mce_inline_error {
            background: none;
            padding: 0;
            margin-top: 8px;
            position: absolute;
            bottom: -25px;
            font-size: 12px;
        }

        input {
            padding: 0 20px;
            border: 1px solid #535353;
            border-radius: 5px;
            background: none;
            font-size: 14px;
            line-height: 40px;
            color: #fff;
            height: 40px;
            outline: none !important;
            margin-right: 8px;
        }
        h4 {
            font-size: 14px;
            text-transform: uppercase;
            color: #ffffff;
            font-weight: 600;
            line-height: 20px;
            margin-bottom: 12px;
        }
        p {
            font-size: 16px;
            line-height: 24px;
            color: #fff;
            margin-bottom: 12px;
            max-width: 335px;
        }
    }
    .footer-menu {
        &--inner {
            padding-right: 38px;
        }
        .menu {
            li {
                a {
                    color: #ffffff;
                    font-weight: 600;
                    line-height: 28px;
                }
            }
        }
    }
    .footer-container {
        .columns {
            @media (max-width: $tablet) {
                display: flex;

                .footer-newsletter {
                    flex: 0 0 100%;
                }
            }
        }
    }
    .footer-bottom {
        padding-bottom: 36px;
        &--social {
            display: flex;
            align-items: flex-end;
        }
        &--textarea {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            @media (max-width: $tablet) {
                justify-content: flex-start;
            }
            p {
                font-size: 14px;
                line-height: 26px;
                color: #fff;
                a {
                    color: #fff !important;
                }
            }
        }
        &--logos {
            img {
                max-height: 60px;
                width: auto;
                height: 60px;
                margin: 0 3px;
                @media (max-width: $tablet) {
                    margin-right: 24px;
                }
                @media (max-width: $mobile) {
                    margin-right: 8px;
                    max-height: 75px;
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}
