/* ======================================
  Mobile header styles
========================================= */
#masthead {
    &.overlay-open {
        height:100%!important;
            background: #fff;
        &.fixed {
            height:100%!important;
        }
    }
    .mobile-menu {
        padding: 0;

        .menu-cols {
            display: flex;
            .menu li {
                margin: 0;
                margin-bottom: 31px;
                a {
                    font-size: 20px;
                    font-weight:500;
                }
            }
        }

        .button_container {
            position: fixed;
            top: 41px;
            right: 7.5%;
            margin: 0 auto;
            height: 28px;
            width: 26px;
            cursor: pointer;
            z-index: 1000;
            transition: opacity 0.25s ease;
            &:before {
                content: "";
                position: absolute;
                width: 50px;
                height: 50px;
                background: #fff;
                border-radius: 100%;
                top: -16px;
                left: -13px;
            }
        }
        .menu-link {
            transition: opacity 0.25s ease;
            &.active {
                opacity: 1;
            }
        }

        .button_container {
            &.active .top {
                background: rgba(50, 50, 50, 1);
                opacity: 1;
                transform: translateY(7px) translateX(0) rotate(45deg);
            }
            &.active .middle {
                opacity: 0;
            }
            &.active .bottom {
                background: rgba(50, 50, 50, 1);
                opacity: 1;
                transform: translateY(-5px) translateX(0) rotate(-45deg);
                &:nth-of-type(3) {
                    width: 26px;
                    top: 12px;
                }
            }
            span {
                background: rgba(50, 50, 50, 1);
                border: none;
                height: 2px;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                transition: all 0.35s ease;
                cursor: pointer;
                border-radius: 20px;
                &:nth-of-type(2) {
                    top: 8px;
                }
                &:nth-of-type(3) {
                    top: 16px;
                    width: 18px;
                }
            }
        }
        .overlay {
            position: fixed;
            background: #fff;
            top: 0;
            left: 0;
            width: 100%;
            height: 0%;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.35s, visibility 0.35s, height 0.35s;
            z-index: 999;
            margin-top:105px;
            padding-top:0;
            ul {
                list-style: none;
                padding: 0;
                margin: 0 auto;
                display: block;
                position: relative;
                height: 100%;
                flex-direction: column;
                margin-top: 50px;
                li {
                    display: block;
                    position: relative;
                    opacity: 0;
                    width: 90%;
                    margin: 0 auto;
                    margin-bottom: 32px;

                    a {
                        display: inline-block;
                        position: relative;
                        color: #000;
                        text-decoration: none;
                        overflow: visible;
                        font-weight: 600;
                        font-size: 17px;
                        line-height: 24px;
                        transition: all 0.15s linear;
                        margin-left: 0 !important;
                    }
                }
            }
            .main-menu {
                width: 100%;
                display: flex;
                flex-direction: column;
            }
            &--details {
                margin-top: 64px;
                padding-left: 0;
            }
            &--social {
                margin-bottom: 36px;
                .social-icon {
                    margin-right: 33px;
                    width: 32px;
                    height: 32px;
                }
            }
            &--copy {
                color: #000;
                font-weight:400;
                font-size: 16px;
                line-height: 28px;
                a {
                    color:inherit;
                }
            }
            &.open {
                opacity: 1;
                visibility: visible;
                height: 100%;
                overflow-x: hidden;
                overflow-y: scroll;
                padding-bottom: 150px;
                z-index: 999;
                @for $i from 1 through 10 {
                    li:nth-child(#{$i}n) {
                        animation-delay: #{$i * 0.05}s;
                    }
                }
                li {
                    animation: fadeInTop 0.5s ease forwards;
                    clear: both;
                    a {
                        text-transform: none !important;
                    }
                    &.menu-btn {
                        width: 100%;
                        a {
                            margin-bottom: 0;
                            font-size: 1.875em !important;
                            color: #000;
                            line-height: 43px;
                        }
                    }
                }
            }
        }
    }
}
@keyframes fadeInTop {
    0% {
        opacity: 0;
        bottom: 25px;
    }
    100% {
        opacity: 1;
        bottom: 0;
    }
}
