/* ======================================
   HEADER STYLES
========================================= */
#masthead {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 999;
   padding-top: 40px;
   transition: $transition;
      @media (max-width: $tablet) {
        position: fixed;
        z-index: 9999;
        width: 100%;
        top: 0;
        padding-top: 25px;
        left: 0;
        height: auto;
    }
   .main-logo {
      img {
         transition: $transition;
         position: relative;
         z-index: 999;
         @media(max-width:$tablet) {
            max-width:78px;
            position: relative;
            z-index: 99999;
         }
      }
   }
   .nav-col {
      @media(max-width:$tablet) {
          padding: 4px 0;
      }
   }
   &.fixed {
      backdrop-filter: blur(14px);
      -webkit-backdrop-filter: blur(14px);
      padding: 17px 0;
      @media(max-width:$tablet) {
        padding:25px 0;
        padding-bottom:0;

      }
      .nav-col {
         align-items: center;
      }
      .main-logo {
         img {
            width: 77px;
         }
      }
   }
   #search-btn {
      height: 50px;
      width: 50px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      cursor: pointer;
      transition: $transition;
      top: -10px;
      right: -6px;
      @media (max-width: $tablet) {
            position: absolute;
            right: 58px;
            top: 0.75em;
        }
      span {
         width: 50px;
         height: 50px;
         background: url("../assets/icon--search-unopt.svg") no-repeat center;
         display: block;
         background-size: contain !important;
         position: relative;
         background-size: 25px !important;
      }
      &.grow {
         span {
            background: url("../assets/icon--close.svg") no-repeat center;
         }
         &:before {
            transform: scale(100);
         }
      }
      &:hover {
         transform: scale(0.95);
      }
      img {
         z-index: 1;
         position: relative;
         width: 23px;
      }
      &:before {
         content: "";
         height: 50px;
         width: 50px;
         background: #fff;
         display: block;
         position: absolute;
         top: 0;
         border-radius: 50px;
         z-index: 0;
         margin: 0 auto;
         top: 50%;
         transform: translateY(-50%) scale(1);
         transition: all 0.3s linear;
      }
   }

   .menu {
      display: flex;
      justify-content: flex-end;
      li {
         margin: 0 12px;
         &.current_page_item {
            a {
               font-weight: bold;
            }
         }
         a {
            color: #000;
            font-size: 16px;
            line-height: 28px;
            transition: $transition;
            &:hover {
               color:$hover;
            }
         }
      }
   }
}
