/* ======================================
Default page layout 
========================================= */
.heroarea {
    //height: 640px;
    position: relative;
    min-height: 640px;
    padding-bottom: 24px;
    @media (max-width: $tablet) {
        min-height: 255px;
        padding-bottom: 0;
    }
    &--img {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 0;
        width: 75%;
        background-size: cover !important;
        height: 640px;
        @media (max-width: $tablet) {
            width: 78%;
            height: 250px;
        }
    }
    &--cut {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        clip-path: $polygon;
        height: 100%;
        background: #fff;
        position: absolute;
        z-index: 1;
        @media (max-width: $tablet) {
            clip-path: $polygonTablet;
        }
        @media (max-width: $mobile) {
            clip-path: $polygonMobile;
        }
    }
    &--content {
        z-index: 1;
        position: relative;
        padding-top: $paddingTop;
        @media (max-width: $tablet) {
            padding-top: $paddingTopMobile;
            .column.is-6 {
                max-width: 80%;
            }
        }
        @media (max-width: $mobile) {
            .column.is-6 {
                max-width: 100%;
            }
        }
        h1,
        h2 {
            margin-bottom: 24px;
            @media (max-width: $tablet) {
                margin-top: 0;
                max-width: 80%;
            }
        }
        h3,
        h4 {
            margin-bottom: 16px;
        }
        p {
            font-size: 18px;
            line-height: 30px;
            margin-bottom: 24px;
            @media (max-width: $tablet) {
                font-size: 16px;
                line-height: 28px;
            }
        }
        .btn {
            margin-top: 24px;
        }
    }
}
.page-template-template-edasimyyad {
    .heroarea {
        @media (max-width: $tablet) {
            padding-bottom: 48px;
        }
    }
}
.page-template-template-contact .wp-block-column:last-of-type p {
    @media (max-width: $tablet) {
        margin-bottom: 0 !important;
    }
}
