/* ======================================
Homepage hero slider
========================================= */
.heroslider {
    &--wrap {
        .swiper-scrollbar {
            background: #000;
            left: 0;
            right: 0;
            margin: 0 auto;
            .swiper-scrollbar-drag {
                background: #dddddd;
            }
        }
        .swiper-button-next,
        .swiper-button-prev {
            width: 52px;
            height: 34px;
            @media (max-width: $tablet) {
                display: none;
            }
            &:after {
                content: "";
                width: 100%;
                height: 100%;
                background-size: contain !important;
            }
        }
        .swiper-button-next {
            right: 2.5%;
            @media (min-width: 1680px) {
                right: 15%;
            }
            &:after {
                background: url("../assets/icon--arrow-right.svg") no-repeat center;
            }
        }
        .swiper-button-prev {
            left: 2.5%;
            @media (min-width: 1680px) {
                left: 15%;
            }
            &:after {
                background: url("../assets/icon--arrow-left.svg") no-repeat center;
            }
        }
        .swiper-horizontal > .swiper-scrollbar {
            max-width: 168px;
        }
    }
    .hero-slide {
        //height: 640px;
        position: relative;
        min-height: 640px;
        padding-bottom: 24px;
        &--img {
            position: absolute;
            right: 0;
            top: 0;
            z-index: 0;
            width: 100%;
            height: 100%;
            background-size: cover !important;
            @media (max-width: $tablet) {
                width: 78%;
                height: 250px;
            }
        }
        &--cut {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            clip-path: $polygon;
            height: 100%;
            background: #fff;
            position: absolute;
            z-index: 1;
            @media (max-width: $tablet) {
                clip-path: $polygonTablet;
            }
            @media (max-width: $mobile) {
                clip-path: $polygonMobile;
            }
        }
        &--content {
            z-index: 1;
            position: relative;
            .single-slide {
                padding-top: $paddingTop;
                @media (max-width: $tablet) {
                    padding-top: $paddingTopMobile;
                }
                &--textarea {
                    max-width: 37%;
                    @media (max-width: $tablet) {
                        max-width: 60%;
                    }
                    @media (max-width: $mobile) {
                        max-width: 100%;
                    }
                    h1,
                    h2 {
                        margin-bottom: 24px;
                        @media (max-width: $mobile) {
                            max-width: 80%;
                        }
                    }
                    p {
                        font-size: 18px;
                        line-height: 30px;
                        margin-bottom: 24px;
                    }
                    .btn {
                        margin-top: 24px;
                        @media (max-width: $tablet) {
                            margin-top: 0;
                        }
                    }
                    .highlight {
                        width: 148px;
                        height: 148px;
                        border-radius: 148px;
                        background: #000;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        flex-direction: column;
                        @media (max-width: $tablet) {
                            margin-bottom: 24px;
                        }
                        p,
                        h3 {
                            color: #fff;
                            display: block;
                        }
                        p {
                            margin-bottom: 7px;
                            font-size: $body;
                            line-height: 22px;
                        }
                        h3 {
                            font-size: 38px;
                            font-weight: 600;
                        }
                    }
                }
                &--img {
                    img {
                        width: 100%;
                        display: block;
                        max-height: 400px;
                        object-fit: contain;
                    }
                }
            }
        }
    }
}
// HERO ICONS

.hero-certificates {
    background: #e5e5e5;
    padding: 60px 0 16px 0;
    clip-path: $polygonAlt;
    margin-bottom: 45px;
    @media (max-width: $tablet) {
        clip-path: $polygonAltTablet;
        margin-top: 24px;
    }

    &--inner {
        display: flex;
        justify-content: normal;
        max-width: 500px;
        flex-flow: wrap;
        @media (max-width: $mobile) {
            justify-content: space-around;
        }
    }
    .icon-img {
        max-height: 70px;
        max-width: 70px;
        margin-right: 50px;
        margin-bottom: 8px;
        &:nth-of-type(4),
        &:nth-of-type(8) {
            margin-right: 0;
        }
        @media (max-width: $mobile) {
            margin-right: 0;
        }
    }
}
