/* ======================================
Videomodal
========================================= */
.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
  background: #000;
  border-radius: 8px;
  @media(max-width:$tablet) {
    border-radius:0;
  }
  &:before {
    display: block;
    content: "";
  }
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 0;
  overflow: hidden;
}

.embed-responsive-21by9::before {
  padding-top: 42.85714%;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

.embed-responsive-4by3::before {
  padding-top: 75%;
}

.embed-responsive-1by1::before {
  padding-top: 100%;
}

.modal-background {
  background: #343e53;
  opacity: 0.4;
}
.close-modal {
  margin-top: 20px;
}
.modal-content,
.modal-card {
  width: 60%;
  border: 10px;
  @media(max-width:$tablet) {
    border:none;
    width:70%;
  }
  @media (max-width: $tablet) {
    width: 100%;
  }
  .overlay__close {
    width: 44px;
    height: 44px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 15;
    border-radius: 8px;
    top: -20px;
    background: #fff;
    &:before {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &:after {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    &:after,
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -8px 0 0 -1px;
      height: 17px;
      width: 2px;
      background-color: #6c798f;
    }
  }
}
.modal {
  z-index: 999;
  &.video-modal {
    .modal-content {
      width: 100%;
      max-height: 100%;
    }
    .close-modal {
      position: absolute;
      top: 30px;
      right: 30px;
      margin-top: 0;
    }
  }
}
