/* ======================================
Numbered rows block
========================================= */
.numblocks {
    padding: 72px 0 96px 0;
    @media (max-width: $tablet) {
        padding: 50px 0 39px 0;
    }
    &--title {
        h2 {
            margin-bottom: 48px;
            @media (max-width: $tablet) {
                margin-bottom: 12px;
            }
        }
    }
    .single-numblock {
        border-top: 1px solid #e6e6e6;
        padding: 38px 0;
        @media (max-width: $tablet) {
            padding:25px 0;
        }
        .num {
            margin-right: 64px;
            @media (max-width: $tablet) {
                margin-right: 27px;
                display: flex;
                align-items: center;
            }
            span {
                font-size: 54px;
                line-height: 64px;
                font-weight: bold;
                @media (max-width: $tablet) {
                    font-size: 51px;
                    line-height: 61px;
                }
            }
        }
        &--content {
            display: flex;
            align-items: center;
            h3 {
                font-weight: 600;
            }
        }
        &:last-of-type {
            border-bottom: 1px solid #e6e6e6;
        }
    }
}
