/* ======================================
Recent posts
========================================= */
.blog {
    padding-bottom: 72px;
    @media (max-width: $tablet) {
        padding-bottom: 50px;
    }
    &.blog-recent {
        padding-top: 72px;
        @media (max-width: $tablet) {
            padding-top: 50px;
                overflow: hidden;
        }
        &--cta {
            display: flex;
            justify-content: center;
        }
    }
    .blog-title {
        align-items: center;
        margin-bottom: 8px;
    }
} // recent blog
