/* ======================================
Recent products (slider to be added)
========================================= */
.p-slider {
    padding: 72px 0;
    @media (max-width: $tablet) {
        padding: 38px 0;
            overflow: hidden;
 
    }
    .woocommerce {
        .products {
            position: relative;
            width: 100%;
            height: 100%;
            z-index: 1;
            display: flex;
            transition-property: transform;
            box-sizing: content-box;
            transform: translate3d(0px, 0, 0);
            align-items: flex-start;
            transition-property: transform, height;
            width: 100%;
            margin: auto;
            display: flex;
            flex-direction: column;
            li.product {
                width: initial;
                flex-basis: initial;
                float: none !important;
                clear: both;
                margin: auto;
            }
        }
    }
    a.btn {
        @media (max-width: $tablet) {
            margin:24px 0 17px 0;
        }
    }
}
