/* ======================================
regular content block
========================================= */
.regular-content {
    position: relative;
    padding:80px 0;
     @media (max-width: $tablet) {
         padding:36px 0;
     }
}
