/* ======================================
Section for resellers with title
========================================= */
.resellersblock {
    .single-reseller {

        &--inner {
            text-align:center;
        }
       
    }
}