/* ======================================
Resellers
========================================= */
.resellers {
    flex-flow: wrap;
    .single-reseller {
        width: 25%;
        flex-basis: 25%;
        margin-bottom: 24px;
        @media (max-width: $tablet) {
            width: 100%;
            flex-basis: 100%;
            margin-bottom: 36px;
        }
        &:last-of-type {
            @media (max-width: $tablet) {
                margin-bottom: 0;
            }
        }
        &--inner {
            @media (max-width: $tablet) {
                flex-direction: column;
                display: flex;
                align-items: center;
            }
        }
        .btn {
            margin-top: 24px;
        }
        .reseller-img {
            height: 72px;
            max-width: 168px;
            @media (max-width: $tablet) {
                height: auto;
                margin-bottom: 17px;
            }
        }
    }
}
