// Search
.search-wrap {
    display: none;
    margin: 0 auto;
    margin-top: 130px;
    @media (max-width: $tablet) {
        margin-top: 120px;
        padding-bottom:80px;
    }
    &::-webkit-scrollbar {
        width: 0; /* Remove scrollbar space */
        background: transparent; /* Optional: just make scrollbar invisible */
    }
    .search-live-form {
        opacity: 0;
        transition: all 3s linear;
    }
    .search-live div.search-live-results-content {
        border: none;
        @media (max-width: $tablet) {
            padding: 0 !important;
        }
    }
    .search-live-results {
        @media (max-width: $tablet) {
            padding-bottom: 80px!important;
        }
    }
}
.active-overlay {
    .search-live-form {
        opacity: 1;
        transition: all 3s linear;
    }
}
.overlay-search {
    .search-live .search-live-results .entry:hover,
    .search-live .search-live-results .entry.active {
        background-color: transparent;
        font-weight: 500;
    }
    header#masthead .sub-menu--close {
        display: flex;
        height: auto;
    }
    .search-wrap {
        display: block;
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;

        height: 100%;
        top: 0;

        @media (max-width: $tablet) {
            top: 0px;
            height: 100vh;
            padding-bottom: 100px;
            margin-top: 100px;
            overflow: scroll;
            padding-top: 0;
            table.search-results {
                padding: 0 !important;
            }
        }
    }

    .search-live-results-content {
        display: flex !important;
        bottom: 0;
        width: 100%;
        background: none;
        position: absolute;
        justify-content: center;
        align-items: center;
        top: 100px;
        padding: 48px !important;
        position: relative;
        @media (max-width: $tablet) {
            padding: 0;
        }
        .no-results {
            font-weight: bold;
            margin-top: 24px;
        }

        table.search-results {
            //background: #fff;

            display: block;
            z-index: 1;
            position: relative;
            max-width: 637px;
            tbody {
                width: 100%;
                max-width: 100%;
                display: flex;
                flex-direction: column;
                padding: 0 4px;
            }
            td.result-info {
                display: block;
                border-bottom: 1px solid #000;
                padding: 24px 0;
                margin-bottom: 0;
                .title {
                    color: #000;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 30px;
                    text-decoration: none !important;
                    @media (max-width: $tablet) {
                        font-size: 22px;
                        margin-bottom: 16px;
                    }
                }
                .description {
                    color: #000;
                    font-size: 14px;
                    line-height: 18px;
                    @media (max-width: $tablet) {
                        font-size:16px;
                        line-height:28px;
                    }
                }
            }
        }
    }

    .search-live-field {
        height: 60px;
        border: 1px solid #707070;
        border-radius: 5px;
        max-width: 628px;
        padding: 0 20px;
        font-size: 16px;
        line-height: 30px;
        outline: none !important;
        &::placeholder {
            color: #000000;
            font-weight: 600;
        }
    }
    .search-live-form {
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
        height: 84px;
        position: absolute;
    }
}
header#masthead .sub-menu--close {
    position: absolute;
    right: 0;
    z-index: 99;
    top: 20px;
    cursor: pointer;
    display: none;
    width: 24px;
    height: 24px;
}
