/* ======================================
Single post 
========================================= */
.blog-single {
    width: 25%;
    flex-basis: 25%;
    @media (max-width: $tablet) {
        flex-basis: auto;
    }
    &--inner {
        padding: 0 8px;
            @media (max-width: $tablet) {
                padding:0;
            }
        a {
            color: inherit;
        }
        h4 {
            margin-bottom: 16px;
            @media (max-width: $tablet) {
                margin-bottom:13px;
            }
        }
        p {
            font-size: 18px;
            line-height: 30px;
            font-weight: 300;
            margin-bottom: 32px;
            @media(max-width:$tablet) {
                font-size:16px;
                line-height:28px;
                margin-bottom:13px;
            }
        }
        .videoplayer {
            width: 200%;
            left: -50%;
            position: relative;
            margin: 24px 0;
        }
    }
    &--wrap {
        display: flex;
        flex-flow: wrap;
        margin: 0 -8px;
        @media (max-width: $tablet) {
            flex-basis: initial;
            width: initial;
            flex-direction:column;
            flex-flow:initial;
            margin:0;
        }
    }
    .blog-thumb {
        padding-bottom: 125%;
        background-size: cover !important;
        background-position: center;
        margin-bottom: 24px;
        @media(max-width:$tablet) {
                padding-bottom: 157%;
        }
    }
}
