
/* ======================================
Recent news
========================================= */
.news-section {
    background: #e5e5e5;
    padding: 72px 0;
    @media(max-width:$tablet) {
            overflow: hidden;
            padding: 52px 0;
    }
    .btn {
        background: transparent;
           &.all-btn {
               @media(max-width:$tablet) {
               margin:48px 0 0 0;
           }
           }
    }
    .single-news {
        background: #fff;
        &--inner {
            display: flex;
            padding: 20px;
            @media(max-width:$tablet) {
                padding:8px;
                flex-direction: column;
            }
        }
        &--img {
            flex: 0.75;
               @media(max-width:$tablet) {
                   flex:1;
               }
            .news-thumb {
                padding-bottom: 100%;
                background-size: cover !important;
                background-position: center !important;
            }
        }
        &--meta {
            flex: 1;
            padding: 0 31px;
               @media(max-width:$tablet) {
                   padding:0;
               }
            a {
                color:inherit;
            }
            span {
                padding: 20px 0 16px 0;
                color: #646567;
                font-size: 14px;
                display: block;
            }
            h4 {
                margin-bottom: 72px;
                font-weight: 600;
                   @media(max-width:$tablet) {
                       font-size:22px;
                       margin-bottom:16px;
                   }
            }
            .btn {
                margin-bottom:48px;
            }
        }
    }
    .news--nav {
        display: flex;
        padding: 40px 0;
        justify-content: center;
           @media(max-width:$tablet) {
               display:none;
           }
        .swiper-button-next,
        .swiper-button-prev {
            width: 52px;
            height: 34px;
            position: initial;
            margin: 0 12px;
            &:after {
                content: "";
                width: 100%;
                height: 100%;
                background-size: contain !important;
            }
        }
        .swiper-button-next {
            &:after {
                background: url("../assets/icon--arrow-right.svg") no-repeat center;
            }
        }
        .swiper-button-prev {
            &:after {
                background: url("../assets/icon--arrow-left.svg") no-repeat center;
            }
        }
    }
    .swiper-container {
        position: relative;
        width: 100%;

        .swiper-slide {
            transition: all 200ms linear;
            width: 100%;
            transform: scale(0.8);
               @media(max-width:$tablet) {
                   transform:scale(1);
               }
            &.swiper-slide-active {
                transform: scale(1);
            }
        }
    }
}
