/* ======================================
Social icons
========================================= */
.social-icon {
    display: inline-block;
    margin-right: 16px;
    transition: $transition;
    &--holder {
        display: inline-block;
        background-size: contain !important;
        transition: $transition;
        &:hover {
            transform: scale(0.95);
        }
        &.fb {
            background: url("../assets/icon--fb.svg") no-repeat center;
            width: 12px;
            height: 23px;
        }
        &.ig {
            background: url("../assets/icon--ig.svg") no-repeat center;
            width: 22px;
            height: 22px;
        }
        &.yt {
            background: url("../assets/icon--yt.svg") no-repeat center;
            width: 32px;
            height: 23px;
        }
    }
}
#masthead {
  
        .social-icon {
            &--holder {
                &.fb {
                    background: url("../assets/icon--fb-dark.svg") no-repeat center;
                }
                &.ig {
                    background: url("../assets/icon--ig-dark.svg") no-repeat center;
                }
                &.yt {
                    background: url("../assets/icon--yt-dark.svg") no-repeat center;
                }
            }
        }
   
}