/* ======================================
EFECO TEAM columns
========================================= */
.people {
    padding: 72px 0;
    @media (max-width: $tablet) {
        padding: 52px 0 11px 0;
    }
    &--title {
        h2 {
            margin-bottom: 40px;
            @media (max-width: $tablet) {
                margin-bottom:6px;
            }
        }
    }
    &--wrap {
        display: flex;
        flex-flow: wrap;
        margin: 0 -8px;
        @media (max-width: $tablet) {
            margin: 0;
            flex-direction: column;
        }
        .single-person {
            width: 25%;
            flex-basis: 25%;
            margin-bottom: 36px;
            @media (max-width: $tablet) {
                flex-basis: 100%;
                width: 100%;
            }
            &--img {
                padding-bottom: 143%;
                background-size: cover !important;
                background-position: center !important;
                margin-bottom: 24px;
            }
            &--inner {
                padding: 0 8px;
                @media (max-width: $tablet) {
                    padding: 0;
                }
                h3,
                h4 {
                    margin-bottom: 16px;
                    font-size: 24px;
                    line-height: 30px;
                }
                p {
                    transition: $transition;
                    &:first-of-type {
                        margin-bottom: 16px;
                    }
                    a {
                        color: #555555;
                    }
                }
            }
        }
    }
}
