/* ======================================
Three columns
========================================= */
.three-columns {
    padding:72px 0;
    background:#E5E5E5;

    @media(max-width:$tablet) {
        padding:50px 0;
    }
    &.last-block {
        padding-bottom:272px;
        margin-bottom:-200px;
        @media(max-width:$tablet) {
            margin-bottom: -231px;
        }
    }
    &--title {
        margin-bottom:64px;
        @media(max-width:$tablet) {
            margin-bottom:21px;
        }
        h2 {
            margin-bottom:48px;
            @media(max-width:$tablet) {
                margin-bottom:24px;
            }
        }
        h4 {
            font-weight:600;  
        }
    }
    &--box {
         @media (max-width: $tablet) {
             margin-bottom:21px;
         }
        &-inner {
            padding:0 16px;
            img {
                display:inline-block;
                margin-bottom:24px;
            }
            p {
                font-size:18px;
                line-height:30px;
                 @media (max-width: $tablet) {
                     font-size:16px;
                     line-height:26px;
                 }
            }
        }
    }
}