/* ======================================
Video player popup
========================================= */
.videoplayer {
    position: relative;
    overflow:hidden;
    @media (max-width: $tablet) {
        overflow: hidden;
    }
    .videoplayer-img {
            width: 100%;
        }
    &-img {
        display: block;
    }
    .columns:last-child {
        @media (max-width: $tablet) {
            margin-bottom: 0;
        }
    }
    .video-play {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 2;
        text-align: center;
        opacity: 0.83;
        transition: $transition;
        display: inline-block;
        img {
            @media (max-width: $tablet) {
                max-width: 60px;
            }
        }
        &:hover {
            transform: translateY(-50%) scale(0.95);
        }
    }
}
