/* ======================================
Default page layout 
========================================= */
.default-content {
    //height: 640px;
    position: relative;
    min-height: 640px;
    padding-bottom: 24px;
    @media (max-width: $tablet) {
        min-height: 255px;
    }
    .page-template-default h1 {
    margin-bottom: 24px;
}
    &--img {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        background-size: cover !important;
    }
    &--cut {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        clip-path: $polygon;
        height: 100%;
        background: #fff;
        position: absolute;
        z-index: 1;
        @media (max-width: $tablet) {
            clip-path: $polygonTablet;
        }
        @media (max-width: $mobile) {
            clip-path:  $polygonMobile;
        }
    }
    &--content {
        z-index: 1;
        position: relative;
        padding-top: $paddingTop;
        @media (max-width: $tablet) {
            padding-top: $paddingTopMobile;
        }
    }
}
