/* ======================================
   Homepage specific styles
========================================= */
.home {
   #content {
      @media(max-width:$tablet) {
         overflow:hidden;
      }
   }
}