/* ======================================
News page layout
========================================= */
.page-template-template-news {
    .content-area {
        position: relative;
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            width: 100%;
            left: 0;
            background: transparent linear-gradient(180deg, #ffffff00 0%, #ffffff 100%) 0% 0% no-repeat padding-box;
            height: 200px;
        }
    }
}
.news-layout {
    background: none;
    padding: 0.75rem;
    padding-top: 40px;
    position: relative;
    padding-bottom: 100px;
    height: 1000px;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    @media(max-width:$tablet) {
            padding-top: 12px;
            overflow:initial;
            padding-bottom:50px;
            height:auto;
    }
    &::-webkit-scrollbar {
        /* WebKit */
        width: 0;
        height: 0;
    }
    &--title {
        padding-top: $paddingTop;
        @media (max-width: $tablet) {
            padding-top:$paddingTopMobile;
        }
    }
    .single-news {
        &--inner {
            padding: 0;
            margin-bottom: 72px;
             @media(max-width:$tablet) {
                 margin-bottom:0;
             }
        }
        &--meta {
            a {
                color: inherit;
            }
            span {
                padding-top: 0;
                border-bottom: 1px solid #e6e6e6;
                margin-bottom: 20px;
                text-transform: uppercase;
                @media (max-width: $tablet) {
                    padding-top:16px;
                }
            }
        }
        &--img {
            flex: 1;
            .news-thumb {
                padding-bottom: 50%;
            }
        }
    }
} // news archive
