/* ======================================
Posts page layout
========================================= */
.blog-all {
    .blog-title {
        padding-top: $paddingTop;
        @media(max-width:$tablet) {
            padding-top:$paddingTopMobile
        }
    }
    .blog-single {
        margin-bottom: 32px;
        @media(max-width:$tablet) {
            margin-bottom:40px;
        }
    }
    .masonry-grid {
        width: 100%;
        .grid-item {
            width: 25%;
            @media(max-width:$tabletLarge) {
                width:50%;
            }
            @media(max-width:$tablet) {
                width:100%;
            }
        }
    }
}
