/* ======================================
Single post general
========================================= */
.page-template-template-campaign,
.single-post,
.single-news {
    
    article {
        p { 
        }
        > p {
            &:first-of-type {
                font-size: 24px;
                line-height: 36px;
                @media(max-width:$tablet) {
                    font-size:22px;
                    line-height:32px;
                }
            }
        }
    }
    .blog-single {
        &--meta {
            padding-bottom: 57px;
            display: flex;
            @media (max-width: $tablet) {
                padding-bottom: 30px;
            }
            .social-share {
                @media (max-width: $tablet) {
                    justify-content: flex-end;
                }
                &-link {
                    display: inline-block;
                    margin-left: 16px;
                }
                &--img {
                    display: block;
                    width: auto;
                    height: 24px;
                }
            }
        }

        &--hero {
            h1 {
                padding-top: $paddingTop;
                margin-bottom: 28px;
                @media (max-width: $tablet) {
                    padding-top: $paddingTopMobile;
                }
            }
            .post-date {
                text-transform: uppercase;
                color: #646567;
                font-size: 14px;
                line-height: 22px;
            }
            .social-share {
            }
        }
    }
    div#news-slider {
        margin-top: 60px;
        padding-bottom: 222px;
        margin-bottom: -200px;
        a {
            color: inherit;
        }
    }
}

/* ======================================
Single news
========================================= */

/* ======================================
Single blog
========================================= */
.single-post {
    div#content {
        overflow:hidden;
    }
}