/* ======================================
Woocommerce single product view
========================================= */
.single-product.woocommerce {
    div#content {
        @media (max-width: $tablet) {
            overflow: initial;
        }
    }
    .sticky {
        position: sticky;
            top: 25%;
            @media(max-width:$tablet) {
                top:100px;
            }
    }
    .heroarea--content p {
        @media (max-width: $tablet) {
            margin-bottom: 0;
        }
    }
    .woocommerce-product-gallery__wrapper {
        @media (max-width: $tablet) {
            padding-top: 120px !important;
        }
        &.campaign-active {
            @media (max-width: $tablet) {
                padding-top: 150px !important;
            }
        }
    }
    #faq {
        margin-top: 0;
        margin-bottom: 24px;
        .b-faq-question {
            font-size: 14px;
            line-height: 16px;
            padding: 23px 0;
        }
    }
    .campaign {
        .labelsign {
            margin-bottom: 24px;
        }
        p {
            display: block;
            margin-bottom: 40px;
            font-size: 18px;
            line-height: 22px;
            font-weight: 600;
            color: $red;
            @media (max-width: $tablet) {
                margin-bottom: 24px;
            }
        }
    }
    .heroarea--content {
        padding-top: 100px;
        @media (max-width: $tablet) {
            padding-top: 0;
        }
    }
    div.product {
        display: flex;
        padding-bottom: 24px;

        figure {
            position: relative;
            .icon-ecolabel {
                width: 75px;
                height: 75px;
                position: absolute;
                display: block;
                right: 0;
                bottom: 0;
                @media (max-width: $mobile) {
                    position: initial;
                    width: 100%;
                    padding: 8px;
                }
            }
        }
        form.cart {
            @media (max-width: $tablet) {
                margin-bottom: 16px;
            }
            .variations {
                margin-top: 24px;
                @media (max-width: $tablet) {
                    margin-bottom: 0;
                }
                th.label {
                    flex: none;
                    padding-right: 16px;
                }

                tr {
                    display: flex;
                    flex-flow: wrap;
                }

                label {
                    text-transform: uppercase;
                    display: block;
                    margin-top: -7px;
                    font-size: 14px;
                    @media (max-width: $tablet) {
                        flex: 0 0 100%;
                        margin-bottom: 20px;
                    }
                }
            }
        }
        .summary {
            padding-top: 100px;
            @media (max-width: $tablet) {
                flex: 1.25;
                margin-bottom: 0;
            }
            h1.product_title.entry-title {
                font-size: 28px;
                line-height: 32px;
                font-weight: 600;
                max-width: 80%;
                @media (max-width: $tablet) {
                    font-size: 26px;
                    line-height: 30px;
                    width: 100%;
                    max-width: 100%;
                }
            }
        }
    }
    .call-to-action a:first-of-type {
        margin-right: 32px;
    }
    .woocommerce-product-gallery {
        order: 2;
        @media (max-width: $tablet) {
            flex: 0.75;
        }
        @media (max-width: $mobile) {
            flex: 0.5;
        }
        &:after {
            background: none !important;
        }
        &__wrapper {
            margin-left: 0 !important;
        }
        &__image {
            display: flex;
            justify-content: center;
        }
    }
    // attributes

    a.reset_variations {
        display: none !important;
    }
    .select_box_image {
        padding-left: 18px;
        @media (max-width: $tablet) {
            padding-left: 0;
        }
    }
    .select_option_image.select_option {
        padding: 5px 2px 0 2px;
        border: 1px solid #d5d5d5;
        border-radius: 5px;
        margin: 0 4px;
        margin-bottom: 8px;
        width: 66px;
        height: 78px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        @media (max-width: $tablet) {
            margin: 0;
            margin-right: 8px;
            margin-bottom: 8px;
        }
        cursor: pointer;
        &.selected {
            border-color: #000;
        }
        .yith_wccl_value {
            margin: 0 auto;
            height: auto;
            max-height: 55px;
            max-width: 100%;
            width: auto;
            text-align: center;
        }
        span.yith_wccl_tooltip.top.fade {
            opacity: 1;
            position: static;
            background: none !important;
            padding-bottom: 0 !important;
            margin: 0;
            span {
                color: #6a6a6a;
                background: none;
                margin-bottom: 0 !important;
                &:after {
                    content: none;
                }
            }
        }
    }

    // end attributes

    // related products

    .related {
        margin-top: 64px;
        @media (max-width: $tablet) {
            padding-bottom: 64px;
            margin-bottom: 0px;
            margin-top: 46px;
            overflow: hidden;
        }
        h2.related-title {
            @media (max-width: $tablet) {
                text-align: center;
                font-size: 32px;
                line-height: 30px;
            }
        }
        h2 {
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 32px;
            font-weight: 600;
        }
        ul.products {
            li.product {
                .woocommerce-loop-product__title {
                    font-size: 18px;
                    line-height: 22px;
                }
            }
        }
        ul.products {
            display: flex;
            flex-flow: wrap;
            margin: 0 -8px;
            @media (max-width: $tablet) {
                margin: 0;
                flex-direction: column;
            }
            li.product {
                width: 25%;
                flex-basis: 25%;
                padding: 0;
                margin: 0;
                margin-bottom: 48px;
                @media (max-width: $tablet) {
                    flex-basis: 100%;
                    width: 100%;
                }
                a {
                    display: block; //wrap link
                    padding: 0 8px;
                    @media (max-width: $tablet) {
                        padding: 0;
                    }
                }
                .product-img {
                    position: relative;
                    .labelsign {
                        position: absolute;
                        top: 24px;
                        left: 0;
                    }
                    img.icon-ecolabel {
                        width: 57px;
                        height: 57px;
                        position: absolute;
                        right: 16px;
                        bottom: 16px;
                        margin-bottom: 0;
                    }
                } // product image wrapper div
            }
        } // for slider
    }
    // end related
}
