/* ======================================
Woocommerce archive styling
========================================= */
.woocommerce-shop {
    &.woocommerce {
        ul.products {
            li {
                     @media (max-width: $tablet) {
                flex-basis:100%!important;
                width:100%!important;
                margin-bottom: 43px!important;

            }
            }
        }
    }
}
.woocommerce {
    h1.page-title {
        margin-bottom: 40px;
        @media(max-width:$tablet) {
                margin-bottom: 24px;
        }
    }
    ul.products {
        display: flex;
        flex-flow:wrap;
        margin: 0 -8px;
        @media (max-width: $tablet) {
            margin:0;
            flex-direction:column;
        }
        li.product {
            width: 33.33%;
            flex-basis: 33.33%;
            padding: 0;
            margin: 0;
            margin-bottom:48px;
            @media (max-width: $tablet) {
                flex-basis:100%;
                width:100%;
            }
            a {
                display: block; //wrap link
                padding: 0 8px;
                @media(max-width:$tablet) {
                    padding:0;
                }
            }
            .product-img {
                position: relative;
                .labelsign {
                    position: absolute;
                    top: 24px;
                    left: 0;
                }
                img.icon-ecolabel {
                    width: 57px;
                    height: 57px;
                    position: absolute;
                    right: 16px;
                    bottom: 16px;
                    margin-bottom: 0;
                }
            } // product image wrapper div
            .woocommerce-loop-product__title {
                font-size: 24px;
                line-height: 30px;
                color: #000;
                font-weight: 600;
                margin-bottom: 8px;
                @media(max-width:$tablet) {
                    font-size:22px;
                    padding-top:0;
                }
            }
        }
    } // for slider
    .labelsign {
        font-size: 16px;
        padding: 5px 8px 1px;
        background: #000;
        font-weight: 600;
        color: #fff;
        display: inline-block;
        text-transform: uppercase;
        @media(max-width:$mobile) {
            font-size:13px;
                padding: 3px 9px 1px 9px;
        }   
        &.red {
            background: $red;
        }
    }
}
